---
title: Jesal Mehta - Product Designer
layout: default
intro: a Mumbai-based industrial designer, digital fabrication artist, and teacher.
intro_description: I am interested in exploring the intersection of mathematics, code
  and art. I make things. Sometimes I overlay data-viz and history. I currently teach
  at the NMIMS School of Design, Mumbai.
description: ''
image: "/uploads/emergence-banner-2.jpg"

---
<img src="/uploads/emergence-banner-2.jpg"><section class="bg--secondary cover height-80">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-lg-7 col-md-9 col-12">
        <h2>
          <span class="color--primary">Hi, I am {{ site.title }}</span>
          {{ page.intro }}
        </h2>
        <p class="lead">
          {{ page.intro_description }}
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h2>Work</h2>
        {% assign work_page = site.pages | where: "title", "Work" %}
        {% if work_page.first.description %}
        <p class="lead">
          {{ work_page.first.description }}
        </p>
        {% endif %}
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="masonry">
          <div class="masonry__container row">
            {% assign work = site.work | sort: "position" %}
            {% for project in work limit: 3 %}
              <div class="masonry__item col-lg-4 col-md-6 col-12">
                <div class="project-thumb hover-element border--round hover--active">
                  <a href="{{ project.url }}">
                    <div class="hover-element__initial">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ project.square_featured_image }}" />
                      </div>
                    </div>
                    <div class="hover-element__reveal" data-scrim-top="5">
                      <div class="project-thumb__title">
                        <h4>{{ project.title }}</h4>
                        <span>{{ project.categories | join: ' &amp; ' }}</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
            <!--end item-->
          </div>
          <!--end of masonry container-->
        </div>
        <!--end masonry-->
      </div>
    </div>
    <!--end of row-->
    <div class="text-center">
      <a class="btn btn--primary" href="/work/">
        <span class="btn__text">View More</span>
      </a>
    </div>
  </div>
  <!--end of container-->
</section>

<hr>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h2>Explorations</h2>
        {% assign explorations_page = site.pages | where: "title", "Explorations" %}
        {% if explorations_page.first.description %}
        <p class="lead">
          {{ explorations_page.first.description }}
        </p>
        {% endif %}
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="masonry">
          <div class="masonry__container row">
            <div class="masonry__item col-lg-4 col-md-6"></div>
            {% for exploration in site.explorations limit: 3 %}
            <div class="masonry__item col-lg-4 col-md-6">
              <article class="feature feature-1">
                <a href="#" class="block">
                  <img alt="{{ exploration.title }}" src="{{ exploration.image }}" />
                </a>
                <div class="feature__body boxed boxed--border">
                  <span>{{ exploration.date | date_to_string }}</span>
                  <h5>{{ exploration.title }}</h5>
                  <a href="{{ exploration.url }}">
                    Read More
                  </a>
                </div>
              </article>
            </div>
            <!--end item-->
            {% endfor %}
          </div>
          <!--end of masonry container-->
        </div>
        <!--end masonry-->
      </div>
    </div>
    <!--end of row-->
    {% if site.explorations.size > 3  %}
      <div class="text-center">
        <a class="btn btn--primary" href="/explorations/">
          <span class="btn__text">View More</span>
        </a>
      </div>
    {% endif %}
  </div>
  <!--end of container-->
</section>

<hr>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h2>Cabinet Of Curiosities</h2>
        {% assign curiosities_page = site.pages | where: "title", "Cabinet of Curiosities" %}
        {% if curiosities_page.first.description %}
        <p class="lead">
          {{ curiosities_page.first.description }}
        </p>
        {% endif %}
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="masonry masonry-blog-magazine">
          <div class="masonry__container row">
            <div class="masonry__item col-md-6"></div>
            {% for curiosity in site.curiosities limit: 2 %}
              {% if curiosity.featured_image.size == "full" %}
                <div class="masonry__item col-md-12 col-12 h">
                  <a class="block" href="{{ curiosity.url }}">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ curiosity.featured_image.image }}" />
                      </div>
                      <div class="article__title">
                        <span>{{ curiosity.date | date_to_string }}</span>
                        <h4>{{ curiosity.title }}</h4>
                      </div>
                    </article>
                  </a>
                </div>
                <!--end item-->
              {% endif %}
              {% if curiosity.featured_image.size == "half" %}
                <div class="masonry__item col-md-6 col-12">
                  <a class="block" href="{{ curiosity.url }}">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ curiosity.featured_image.image }}" />
                      </div>
                      <div class="article__title">
                        <span>{{ curiosity.date | date_to_string }}</span>
                        <h4>{{ curiosity.title }}</h4>
                      </div>
                    </article>
                  </a>
                </div>
                <!--end item-->
              {% endif %}
              {% if curiosity.featured_image.size == "half tall" %}
                <div class="masonry__item col-md-12 col-lg-6 col-12">
                  <a class="block" href="{{ curiosity.url }}">
                    <article class="imagebg border--round height--tall" data-scrim-bottom="8">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ curiosity.featured_image.image }}" />
                      </div>
                      <div class="article__title">
                        <span>{{ curiosity.date | date_to_string }}</span>
                        <h4>{{ curiosity.title }}</h4>
                      </div>
                    </article>
                  </a>
                </div>
                <!--end item-->
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <!--end masonry-->
      </div>
    </div>
    <!--end of row-->
    <div class="text-center">
      <a class="btn btn--primary" href="/cabinet-of-curiosities/">
        <span class="btn__text">View More</span>
      </a>
    </div>
  </div>
  <!--end of container-->
</section>

<hr>