<div class="notification pos-right pos-top side-menu bg--white" data-notification-link="side-menu" data-animation="from-right">
  <div class="side-menu__module">
    <ul class="list--loose list--hover">
      <li>
        <a href="#">
          <span class="h5">About Stack</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="h5">Careers</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="h5">Investors</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="h5">Locations</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="h5">Contact</span>
        </a>
      </li>
    </ul>
  </div>
  <!--end module-->
  <hr>
  <div class="side-menu__module">
    <ul class="social-list list-inline list--hover">
      <li>
        <a href="#">
          <i class="socicon socicon-google icon icon--xs"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="socicon socicon-twitter icon icon--xs"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="socicon socicon-facebook icon icon--xs"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="socicon socicon-instagram icon icon--xs"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="socicon socicon-pinterest icon icon--xs"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--end of notification-->
<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <a href="/">
            <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
            <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
          </a>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <a href="/">
              <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
              <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <li>
                <a href="/">Work</a>
              </li>
              <li>
                <a href="/explorations">Explorations</a>
              </li>
              <li>
                <a href="/cabinet-of-curiosities">Cabinet of Curiosities</a>
              </li>
            </ul>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>
