<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-2">
          <a href="/">
            <img class="logo logo-dark" alt="logo" src="{{ site.logo }}" />
            <img class="logo logo-light" alt="logo" src="{{ site.logo }}" />
          </a>
        </div>
        <div class="col-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  {% if page.layout == 'about' %}
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--transparent bar--absolute">
  {% else %}
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs">
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <a href="/">
              <img class="logo logo-dark" alt="logo" src="{{ site.logo }}" />
              <img class="logo logo-light" alt="logo" src="{{ site.logo }}" />
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <li>
                <a href="/work/">Work</a>
              </li>
              <li>
                <a href="/explorations/">Explorations</a>
              </li>
              <li>
                <a href="/cabinet-of-curiosities/">Cabinet of Curiosities</a>
              </li>
              <li>
                <a href="/about-me/">About Me</a>
              </li>
            </ul>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>
