{% if page.url == '/' %}
  <div class="nav-container bg--secondary">
{% else %}
  <div class="nav-container">
{% endif %}
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-2">
          <a href="/">
            <img class="logo logo-dark" alt="logo" src="{{ site.logo }}" />
            <img class="logo logo-light" alt="logo" src="{{ site.logo_white }}" />
          </a>
        </div>
        <div class="col-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  {% if page.layout == 'about' %}
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--transparent bar--absolute">
  {% else %}
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs">
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <a href="/">
              <img class="logo logo-dark" alt="logo" src="{{ site.logo }}" />
              <img class="logo logo-light" alt="logo" src="{{ site.logo_white }}" />
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              {% assign all_pages = site.documents | concat: site.pages %}

              {% for item in site.data.menus.main.items %}
                {% if item.type == 'Internal' %}
                  {% assign page_object = all_pages | where: "path", item.internal_link | first %}
                  {% assign item_url = page_object.url %}
                {% else %}
                  {% assign item_url = item.external_link %}
                {% endif %}
                <li>
                  <a href="{{ item_url }}">{{ item.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>
