---
layout: default
---

<section class="cover height-100 imagebg" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="{{ page.image }}" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-lg-5">
        <h1>
          {{ site.title }}
        </h1>
        <ul class="social-list list-inline list--hover">
          <li>
            <a href="#">
              <i class="socicon socicon-twitter icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="socicon socicon-linkedin icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="socicon socicon-medium icon icon--xs"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="socicon socicon-instagram icon icon--xs"></i>
            </a>
          </li>
        </ul>
        <p class="lead">
          {{ page.content }}
        </p>
        <a class="btn btn--primary type--uppercase" href="#">
          <span class="btn__text">
            Get In Touch
          </span>
        </a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
