---
layout: default
---

<section class="text-center space--even">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h2>Cabinet of Curiosities</h2>
        {% if page.description %}
        <p class="lead">
          {{ page.content }}
        </p>
        {% endif %}
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="space--sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="masonry masonry-blog-magazine">
          <div class="masonry__container row">
            <div class="masonry__item col-md-6"></div>
            {% assign curiosities = site.curiosities | sort: "position" %}
            {% for curiosity in curiosities %}
              {% if curiosity.featured_image.size == "full" %}
                <div class="masonry__item col-md-12 col-12 h">
                  <a class="block" href="{{ curiosity.url }}">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ curiosity.featured_image.image }}" />
                      </div>
                      <div class="article__title">
                        <span>{{ curiosity.date | date_to_string }}</span>
                        <h4>{{ curiosity.title }}</h4>
                      </div>
                    </article>
                  </a>
                </div>
                <!--end item-->
              {% endif %}
              {% if curiosity.featured_image.size == "half" %}
                <div class="masonry__item col-md-6 col-12">
                  <a class="block" href="{{ curiosity.url }}">
                    <article class="imagebg border--round" data-scrim-bottom="8">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ curiosity.featured_image.image }}" />
                      </div>
                      <div class="article__title">
                        <span>{{ curiosity.date | date_to_string }}</span>
                        <h4>{{ curiosity.title }}</h4>
                      </div>
                    </article>
                  </a>
                </div>
                <!--end item-->
              {% endif %}
              {% if curiosity.featured_image.size == "half tall" %}
                <div class="masonry__item col-md-12 col-lg-6 col-12">
                  <a class="block" href="{{ curiosity.url }}">
                    <article class="imagebg border--round height--tall" data-scrim-bottom="8">
                      <div class="background-image-holder">
                        <img alt="background" src="{{ curiosity.featured_image.image }}" />
                      </div>
                      <div class="article__title">
                        <span>{{ curiosity.date | date_to_string }}</span>
                        <h4>{{ curiosity.title }}</h4>
                      </div>
                    </article>
                  </a>
                </div>
                <!--end item-->
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <!--end masonry-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
