---
---

@charset "utf-8";

// imports
// -------

@import 'bootstrap';
@import 'stack-interface';
@import 'socicon';
@import 'lightbox.min';
@import 'flickity';
@import 'iconsmind';
@import 'jquery.steps';
@import 'theme';

// custom
// ------

.project figure {
  text-align: center;
}

.project figure img {
  max-height: 508px;
}

.about #menu1 .logo-dark {
  display: none;
}

.about #menu1 .logo-white {
  display: inline-block;
}
